### Exercise 1.1

In [1]:
class Scoop(object):
    def __init__(self, flavour):
        self.flavour = flavour

In [2]:
s1 = Scoop('Chocolate')
s2 = Scoop('Vanilla')
s3 = Scoop('Blueberry')

In [3]:
print(s1.flavour)

Chocolate

### Exercise 1.2

In [1]:
class Person(object):
    def __init__(self, name, email, phone_number):
        self.name = name
        self.email = email
        self.phone_number = phone_number

In [6]:
person1 = Person('Jane Doe', 'jane@doe.someemail', 123456789)
person2 = Person('Jill Deer', 'jill@deer.leaps', 456789123)
person3 = Person('Mary Fawn', 'mary@fawn.dashes', 321654987)

In [7]:
people = [person1, person2, person3]

In [8]:
for a_single_person in people:
    print(f'''
Name: {a_single_person.name}
Email: {a_single_person.email}
Phone No. {a_single_person.phone_number}
''')

Name: Jane Doe
Email: jane@doe.someemail
Phone No. 123456789


Name: Jill Deer
Email: jill@deer.leaps
Phone No. 456789123


Name: Mary Fawn
Email: mary@fawn.dashes
Phone No. 321654987

In [9]:
person3.email = 'mary@fawn.jetskis'

In [10]:
for a_single_person in people:
    print(f'''
Name: {a_single_person.name}
Email: {a_single_person.email}
Phone No. {a_single_person.phone_number}
''')

Name: Jane Doe
Email: jane@doe.someemail
Phone No. 123456789


Name: Jill Deer
Email: jill@deer.leaps
Phone No. 456789123


Name: Mary Fawn
Email: mary@fawn.jetskis
Phone No. 321654987

### Exercise 1.3

In [34]:
class BankAccount(object):
    def __init__(self):
        self.transactions = []

In [35]:
BA1 = BankAccount()
BA1.transactions.append(1000)
BA1.transactions.append(-500)
BA1.transactions.append(4000)
BA1.transactions.append(-2000)
BA1.transactions.append(7500)
print(f"The number of transactions in account BA1 is {len(BA1.transactions)} and the average amount is {(sum(BA1.transactions))/len(BA1.transactions)}")

The number of transactions in account BA1 is 5 and the average amount is 2000.0

In [36]:
BA2 = BankAccount()
BA2.transactions.append(100)
BA2.transactions.append(200)
BA2.transactions.append(250)
BA2.transactions.append(600)
BA2.transactions.append(-700)
print(f"The number of transactions in account BA2 is {len(BA2.transactions)} and the average amount is {(sum(BA2.transactions))/len(BA2.transactions)}")

The number of transactions in account BA2 is 5 and the average amount is 90.0